@font-face {
    font-family: "peacefull";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/peacefull/peacefull.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/peacefull/peacefull.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/peacefull/peacefull.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/peacefull/peacefull.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/peacefull/peacefull.ttf") format("truetype");
    font-display: swap;
}
.peacefull {
    font-family: "peacefull";
}